$main-color: #2b426d;
$main-color-dark: #001c42;
$main-color-light: #596d9c;

$color1: #2b2d42;
$color2: #8b94a4;
$color3: #edf2f4;

$color4: #ef233c;
$color5: #d90429;

$secondary-color: #af2e2b;
$secondary-color-dark: #790002;
$secondary-color-light: #e76054;

$gray-color: #212529;
$gray-color-dark: #131618;
$hray-color-light: #495057;

$transparent-gray-1: hsla(0, 0%, 100%, 0.3);

$text-white: #f8f9fa;
$text-black: #212529;

$content-width: 800px;

*,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  // font-family: 'Inter', sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;

  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

body {
  // background: #360033; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #0b8793,
  //   #360033
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to left,
  //   #0b8793,
  //   #360033
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: $color3;
}

//App
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

// PREDEFINDED

button,
input[type="submit"] {
  background: $color2;
  border: none;
  outline: none;

  color: $color3;
  font-weight: 300;
  letter-spacing: 1.4px;
  font-size: 1.1rem;

  padding: 0.4rem 1rem;

  border-radius: 0.2rem;
  // margin: 0 1rem;

  &:link,
  &:visited {
  }

  &:hover,
  &:active {
    cursor: pointer;
    background: $secondary-color-light;
  }
}

//HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100vw;
  // background-color: $gray-color-dark;
  // border-bottom: 4px solid $secondary-color-dark;
  padding: 0 2rem;

  &__logo {
    box-sizing: border-box;
    width: fit-content;
    color: $text-white;
    font-weight: 700;
    font-size: 1.6rem;
  }
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
    &--link,
    &--btn {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      color: $text-white;

      &:link,
      &:visited {
      }

      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }
}

//LANDING
.homeContainer {
  background-image: url("./images/pexels-igor-starkov-1117452.jpg");
  // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1000px rgba($color1, 0.5);
  min-height: 100vh;
  background-size: cover;
  // min-width: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center center;
  position: relative;

  .landing {
    padding: 3rem;
    width: 800px;
    height: 40rem;
    display: flex;
    flex-direction: column;
    color: $text-white;
    gap: 4rem;

    background-size: cover;
    // border-radius: 5px;
    // box-shadow: 0 0 1rem 0.5rem $main-color-dark;

    h1,
    p {
      padding-left: 40%;
    }

    h1 {
      font-weight: 700;
      font-size: 4rem;
      letter-spacing: 0.15rem;

      font-size: 72px;
      background: -webkit-linear-gradient(45deg, $color3, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      grid-column: 1/3;
      grid-row: 2;
      letter-spacing: 0.07rem;
      line-height: 1.6;
      font-size: 1.2rem;
    }
  }

  // LOGIN
  .login,
  .registration {
    // background-image: url("./images/landing/screw_1920.jpg");
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%) !important;

    &__login-panel,
    &__registration-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      width: 20rem;
      height: 30rem;

      padding: 1rem;
      gap: 0.5rem;

      background-color: $color3;
      // border: 4px solid $color1;
      outline: none;
      border-radius: 1rem;

      &--pending {
        // background-color: #001c42;
        // filter: blur(5px);
        // position: relative;

        & .pending-background {
          position: absolute;
          opacity: 1;
          height: 98%;
          width: 98%;
          background-color: $color3 0.1;
          right: 0;
          bottom: 0;
          transform: translate(-1%, -1%);

          backdrop-filter: blur(3px);
          // z-index: 5;
          transition: all 0.5s;
          border-radius: inherit;
        }

        .dots {
          // height: 100%;
          // width: 100%;
          position: absolute;
          top: 50%;
          // left: 50%;
          transform: translate(-50%, -50%);

          span {
            width: 1rem;
            height: 1rem;
            margin: 0 0.3rem;
            background-color: $color4;
            border-radius: 50%;
            display: inline-block;
            animation-name: dots;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            filter: none;

            &:nth-child(2) {
              background-color: $color1;
              animation-delay: 0.4s;
            }
            &:nth-child(3) {
              background-color: $color5;
              animation-delay: 0.8s;
            }

            @keyframes dots {
              50% {
                opacity: 0;
                transform: scale(0.7) translateY(0.6rem);
              }
            }
          }
        }
      }

      h2 {
        font-size: 1.8rem;
        margin: 1rem 0;
      }

      a {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: $color5;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.3rem;
        // height: 40%;

        input[type="text"],
        input[type="password"] {
          height: 2rem;
          box-sizing: border-box;
          background-color: $color3;
          color: $color1;
          border: 2px solid $color1;
          border-radius: 0.3rem;
          text-align: center;
          justify-content: center;
          margin-bottom: 1.5rem;
          &:focus-visible {
            color: $color1;
            border: 2px solid $main-color;
            outline: none;
          }
        }

        input[type="submit"] {
          background-color: $color4;
          // border: 1px solid $color4;
          border: none;
          color: $text-white;
          outline: none;
          border-radius: 0.3rem;
          height: 2rem;
          margin-top: 0.7rem;

          &:hover {
            background-color: $color5;
            filter: brightness(95%);
            cursor: pointer;
          }
        }
      }
    }
  }

  // //REGISTRATION
  // .registration {
  //   &__registration-panel {
  //     display: flex;
  //     flex-direction: column;
  //     width: 15rem;
  //     border: none;
  //     padding: 1rem;
  //     gap: 0.5rem;

  //     input[type="text"],
  //     input[type="password"] {
  //       height: 2rem;
  //       box-sizing: border-box;
  //       background-color: $gray-color;
  //       color: #e76054;
  //       border: none;
  //       text-align: center;
  //       justify-content: center;
  //       &:focus {
  //         color: $text-white;
  //       }
  //     }

  //     input[type="submit"] {
  //       background-color: $main-color;
  //       color: $text-white;
  //       border: 2px solid $secondary-color-dark;
  //       border-radius: 1rem;
  //       height: 2rem;
  //     }
  //   }

  //   &__failure {
  //     color: red;
  //   }
  // }
}

.hidden {
  opacity: 0;
  // visibility: hidden;
}

// WORKBENCH
.workbench {
  display: flex;
  width: 100%;
  // gap: 2rem;

  background-color: $color3;

  &__task-bar {
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    height: 100vh;
    gap: 0.2rem;

    background-image: url("./images/screw_1920.jpg");
    box-shadow: inset 0 0 0 1000px rgba($gray-color, 0.8);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    position: relative;

    color: $color3;

    &__header {
      color: $color3;
      font-weight: 350;
      font-size: 1.1rem;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0.8rem;
        width: calc(100% - 1.6rem);
        height: 2px;
        background-color: $transparent-gray-1;
      }
    }

    &__button {
      // background: $color2;
      border: none;
      outline: none;

      color: $color3;
      font-weight: 300;
      font-size: 1.1rem;

      padding: 0.4rem 1rem;
      margin: 0 1rem;

      &:link,
      &:visited {
      }

      &:hover,
      &:active {
        cursor: pointer;
        background: $secondary-color-light;
      }

      &--active {
        background-color: $transparent-gray-1;
        border-radius: 0.2rem;
      }
    }
  }

  &__desk {
    display: flex;
    border: 4px solid black;
    flex: 1 0 auto;
  }

  .projects {
    width: 100%;

    margin: 4rem 4rem;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;

    &__project-bar {
      display: flex;
      width: 100%;
      gap: 1rem;

      padding: 0.3rem 0.8rem;

      // border: 1px $color2 solid;

      &__id {
        width: 2rem;
        font-weight: inherit;
      }

      &__date {
        width: 12rem;
        font-weight: inherit;
      }

      &:first-child {
        background-color: $color4;
        font-weight: 400;
        color: $color3;
        letter-spacing: 2px;
      }

      &:nth-child(even) {
        background-color: $color2;
        color: $color3;
      }
    }
  }

  .project {
    background-color: $text-white;
    // width: 100%;
    margin: 1rem 2rem;
    padding: 0.8rem;
    border: 1px solid $color2;
    border-radius: 0.2rem;
    box-shadow: $color1 0 0.1rem 0.5rem -0.2rem;

    &__operation {
      // background-color: $color4;

      &__desc {
        // background-color: $color1;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        border-bottom: 1px solid $color2;
        padding: 0.3rem;
      }

      &__body {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        // background-color: $color5;

        &--show {
          height: auto;
          max-height: 100rem;
          overflow: hidden;
          transition: all 0.5s cubic-bezier(1, 0, 1, 0);
          padding: 0.8rem 0;
        }

        &__content {
          width: 100%;
          min-height: 12rem;
          height: fit-content;
          resize: none;
          overflow: auto;

          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }

  .new-project {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 4rem 4rem;
    width: 100%;
    gap: 2rem;

    &__header {
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 2rem;
    }

    &__form {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(3, auto);
      gap: 0.8rem;

      label {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-weight: 300;
        letter-spacing: 1.2px;

        input[type="text"],
        input[type="date"] {
          padding: 0.4rem 1rem;
        }
      }

      &__desc {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &__button {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

// OLD
.display-box {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 2px solid gray;
  padding: 1rem;
  gap: 0.5rem;
  &__material {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    p:first-child {
      border-right: 2px solid green;
    }
  }
}
